
    @import url('./cesium-drawhelper-master/DrawHelper.css');

    body{
        margin: 0;
        padding: 0;
        overflow: hidden;
        height: 100%;
        display: block;
    }

    .dashboard {
      position: absolute;
      bottom: 10px;
      right: 10px;
      width: 300px;
      background: rgba(255, 255, 255, 1); /* Slight transparency */
      border-radius: 10px;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
      padding: 15px;
      z-index: 2000; /* Ensure it is above Cesium content */
      display: none; /* Initially hidden */
  }
  
  .dashboard h1 {
      text-align: center;
      font-size: 24px;
      margin-bottom: 10px;
      color: #333;
  }
  .weather-summary{
    text-align: center;
      font-size: 24px;
      margin-bottom: 0px;
      color: #333;
  }
  .weather-item {
      display: flex;
      justify-content: space-between;
      padding: 10px 0;
      border-bottom: 1px solid #e0e0e0;
  }
  .weather-item:last-child {
      border-bottom: none;
  }
  .label {
      font-weight: bold;
      color: #555;
  }
  .value {
      color: #000;
  }

    #cesiumContainer {
        position: absolute;
        width: 100%;
        height: 100%;
        
        
    }
    #header{
      display: flex;
      position: absolute;
      align-items: center;
      text-align: center;
      justify-content: center;
      align-content: center;
      background-color: rgba(12, 11, 11, 1);
      border: 0 solid black;
      color: white;
      font-size: 25px;
      height: 50px;
      width: 100%;
      z-index: 1000;
      font-family: Arial, Helvetica, sans-serif;
    }
    #header img {
      margin-right: 10px; /* Adjust the value to control the space between the image and the text */
    }

    #header span {
      display: inline-block;
    } 
    #header2{
      display: flex;
      position: absolute;
      align-items: center;
      text-align: center;
      justify-content: center;
      align-content: center;
      background-color: transparent;
      border: 0 solid black;
      color: white;
      font-size: 25px;
      height: 50px;
      width: max-content;
      z-index: 1000;
      font-family: Arial, Helvetica, sans-serif;
    }

    .cesium-viewer-toolbar {
      position: absolute;
      top: 5px;
      right: 75px;
      z-index: 1000;
    }
    /* General styles for all infoboxes */
    .cesium-infoBox {
            background-color: rgb(178, 183, 183) ; /* Default infobox background color */
            color: rgb(255, 255, 255) !important
            
        }
  
.button-container {
  display: flex;
  position: absolute;
  justify-content: center;
  height:  50px;
  gap: 5px;
  top: 80px;
  left: 50%; 
  transform: translate(-50%, -50%); 
  z-index: 1000;
}
.btn {
  height: 35px;
  
}


.button-container2 {
  display: flex;
  position: absolute;
  justify-content: center;
  height:  50px;
  gap: 5px;
  top: 7px;
  left: 6px; 
   
  z-index: 1000;
}

#Funktionsleiste {
  z-index: 1000;
      background: white;
      color: black;
      padding: 10px;
      border: 1px solid #ccc;
      border-radius: 10px;
      font-family: Arial, Helvetica, sans-serif;
}
#Funktionsleiste:hover {
  background: #4488bb; /* Change background color on hover */
  border: white solid 1px;
  box-shadow: 0px 0px 0px 2px rgba(255, 255, 255, 0.308);
  border-radius: 5px;
  color: #fff;      /* Change text color on hover */
}
#layerbutton {
        
      z-index: 1000;
      background: white;
      color: black;
      padding: 10px;
      border: 1px solid #ccc;
      border-radius: 10px;
      font-family: Arial, Helvetica, sans-serif;
      
    }
    #layerbutton:hover {
      background: #4488bb; /* Change background color on hover */
      border: white solid 1px;
      box-shadow: 0px 0px 0px 2px rgba(255, 255, 255, 0.308);
      border-radius: 5px;
      color: #fff;      /* Change text color on hover */
    }
    #legendbutton {
  
      background: white;
      color: black;
      padding: 10px;
      border: 1px solid #ccc;
      border-radius: 10px;
      font-family: Arial, Helvetica, sans-serif;
      
    }
    #legendbutton:hover {
      background: #4488bb; /* Change background color on hover */
      border: white solid 1px;
      box-shadow: 0px 0px 0px 2px rgba(255, 255, 255, 0.308);
      border-radius: 5px;
      color: #fff;      /* Change text color on hover */
    }
    #counterButton {
        
        z-index: 1000;
        background: white;
        color: black;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 10px;
        font-family: Arial, Helvetica, sans-serif;
        
      }
      #counterButton2 {
        
        z-index: 1000;
        background: white;
        color: black;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 10px;
        font-family: Arial, Helvetica, sans-serif;
        
      }

      #drawPolygonButton {
        background: white;
      color: black;
      padding: 0px;
      border: 1px solid #ccc;
      border-radius: 10px;
      font-family: Arial, Helvetica, sans-serif;
      width: fit-content;
      display: inline-block;
      align-content: center;
      justify-content: center;
      align-items: center;
      text-align: center;
      }
      #favoriteInput {
        position: absolute; 
        top: 50%; 
        left: 50%; 
        transform: translate(-50%, -50%); 
        z-index: 3000; 
        background: white; 
        padding: 5px; 
        border: 3px solid yellow; 
        display: none; 
        width: 300px; 
        height: 20%;
      }
     #favoriteInput:focus {
      border-color: yellow;
      box-shadow: 0 0 5px rgba(102, 175, 233, 0.5);
      outline: none;
    }

    #zweid3dButton {
      position: absolute;
      top: 7px;
      right: 29px;
      height: 32px;
      z-index: 1000;
      background: #323436da;
      color: white;
      padding: 2px;
      border: 1px solid #cccccc42;
      border-radius: 5px;
      font-family: Arial, Helvetica, sans-serif;
      font-weight: bold;
      align-content: center;      
    }
    #zweid3dButton:hover {
  background: #4488bb; /* Change background color on hover */
  border: white solid 1px;
  box-shadow: 0px 0px 0px 2px rgba(255, 255, 255, 0.308);
  border-radius: 5px;
  color: #fff;      /* Change text color on hover */
}

#locationButton {
      position: absolute;
      top: 7px;
      right: 4px;
      height: 32px;
      z-index: 1000;
      background: #323436da;
      color: white;
      padding: 2px;
      border: 1px solid #cccccc42;
      border-radius: 5px;
      font-family: Arial, Helvetica, sans-serif;
      font-weight: bold;
      align-content: center;      
    }
    #locationButton:hover {
  background: #4488bb; /* Change background color on hover */
  border: white solid 1px;
  box-shadow: 0px 0px 0px 2px rgba(255, 255, 255, 0.308);
  border-radius: 5px;
  color: #fff;      /* Change text color on hover */
}

 .layer-list {
      display: none;
      position: absolute;
      top: 38px;
      left: 8px;
      background: white;
      color: black;
      padding: 10px;
      border: black solid 1px;
      border-radius: 10px;
      list-style: none;
      font-family: Arial, Helvetica, sans-serif;
      z-index: 100;
      width: 400px;
    }
    .layer-list li {
      margin-bottom: 5px;
    }
    
    #legend {
      display: none;      
      position: absolute;
      bottom: 45px;
      left: 8px;
            background-color: rgb(255, 255, 255);
            padding: 10px;
            border-radius: 10px;
            border: black solid 1px;
            z-index: 200;
            display: none;
            font-family: Arial, Helvetica, sans-serif;
            text-align: left;
            align-items: center;
            width: 200px;
            height: 225px;
        }
        #legend img {
            max-width: 300px;
        }
    
        #sliderContainer {
            position: absolute;
            top: 45px;
            right: 700px;
            width: 10%;
            padding: 10px;
            text-align: center;
            z-index: 1; /* Ensure the slider is above the Cesium container */
        }

        
    #StartRainButton {
      
      background: white;
      color: black;
      padding: 1px;
      border: 1px solid #ccc;
      border-radius: 10px;
      font-family: Arial, Helvetica, sans-serif;
      width: fit-content;
      display: inline-block;
      align-content: center;
      justify-content: center;
      align-items: center;
    }
    #StopRainButton {
      
      background: white;
      color: black;
      padding: 1px;
      border: 1px solid #ccc;
      border-radius: 10px;
      font-family: Arial, Helvetica, sans-serif;
      width: fit-content;
      display: none;
    }

    #boatButton {
      background: white;
      color: black;
      padding: 1px;
      border: 1px solid #ccc;
      border-radius: 10px;
      font-family: Arial, Helvetica, sans-serif;
      width: fit-content;
      display: inline-block;
      align-content: center;
      justify-content: center;
      align-items: center;
    }
    #buildingFilterButton {
      background: white;
      color: black;
      padding: 0px;
      height: 35px;
      border: 0px solid #ccc;
      border-radius: 10px;
      font-family: Arial, Helvetica, sans-serif;
      width: fit-content;
      display: inline-block;
      align-content: center;
      justify-content: center;
      align-items: center;
    }
    #heightInput {
    margin-left: 5px;
      margin-right: 0px; /* Add some space between the input and button */
    padding: 5px;
    width: 55px;
    height: 10px;
    border-radius: 3px;
    border: 1px solid #ccc;
    outline: none;
    text-align: center;
}

#filterButton {
  margin-right: 5px;  
  padding: 5px 10px;
    border-radius: 3px;
    border: 1px solid #ccc;
    background-color: grey;
    color: white;
    
    cursor: pointer;
    outline: none;
}

#filterButton:hover {
  background: #4488bb; /* Change background color on hover */
  border: white solid 1px;
  box-shadow: 0px 0px 0px 2px rgba(255, 255, 255, 0.308);
  border-radius: 0px;
  color: #fff;      /* Change text color on hover */
}
    #floodStatisticButton{
      background: white;
      color: black;
      padding: 1px;
      border: 1px solid #ccc;
      border-radius: 10px;
      font-family: Arial, Helvetica, sans-serif;
      width: fit-content;
      display: inline-block;
      align-content: center;
      justify-content: center;
      align-items: center;
    }

    #floodCounterButton {
        
        z-index: 1000;
        background: white;
        color: black;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 10px;
        font-family: Arial, Helvetica, sans-serif;
        
      }

      #currentWeatherButton{
        background: white;
        color: black;
        padding: 1px;
        border: 1px solid #ccc;
        border-radius: 10px;
        font-family: Arial, Helvetica, sans-serif;
        width: fit-content;
        display: inline-block;
        align-content: center;
        justify-content: center;
        align-items: center;
      }
      #currentWeatherButton:hover {
        background: #4488bb; /* Change background color on hover */
        border: white solid 1px;
        box-shadow: 0px 0px 0px 2px rgba(255, 255, 255, 0.308);
        border-radius: 5px;
        color: #fff;      /* Change text color on hover */
      }
      #pictureButton{
        background: white;
        color: black;
        padding: 1px;
        border: 1px solid #ccc;
        border-radius: 10px;
        font-family: Arial, Helvetica, sans-serif;
        width: fit-content;
        display: inline-block;
        align-content: center;
        justify-content: center;
        align-items: center;
      }
      #pictureButton:hover {
        background: #4488bb; /* Change background color on hover */
        border: white solid 1px;
        box-shadow: 0px 0px 0px 2px rgba(255, 255, 255, 0.308);
        border-radius: 5px;
        color: #fff;      /* Change text color on hover */
      }
      #TUVButton{
        background: white;
        color: black;
        padding: 1px;
        border: 1px solid #ccc;
        border-radius: 10px;
        font-family: Arial, Helvetica, sans-serif;
        width: fit-content;
        display: inline-block;
        align-content: center;
        justify-content: center;
        align-items: center;
      }
      #TUVButton:hover {
        background: #4488bb; /* Change background color on hover */
        border: white solid 1px;
        box-shadow: 0px 0px 0px 2px rgba(255, 255, 255, 0.308);
        border-radius: 5px;
        color: #fff;      /* Change text color on hover */
      }
    #rain {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: 200;
}
.RainIntensity {  
    height: 33px;
    position: relative;
    background: white;
    display: inline-block;
    color: black;
    padding: 0px;
    font-size: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    list-style: none;
    font-family: Arial, Helvetica, sans-serif;
    width: 110px;
    margin-top: 1px;
    align-content: center;
      justify-content: center;
      align-items: center;
    
}
#RainIntensity {
  display: none;
}

.RainIntensity li {
    display: flex;
    align-items: center;
    margin-bottom: 0px;
    margin-left: 5px;
    margin-top: 1px;
}

.RainIntensity input[type="checkbox"] {
    margin-right: 10px;
}

#FavoritenAuswahlButton {
  background: white;
      color: black;
      padding: 1px;
      border: 1px solid #ccc;
      border-radius: 10px;
      font-family: Arial, Helvetica, sans-serif;
      width: fit-content;
      align-items: center;
      justify-content: center;
      align-content: center;
        }
 

#drawPolygonButton {
  background: white;
      color: black;
      padding: 1px;
      border: 1px solid #ccc;
      border-radius: 10px;
      font-family: Arial, Helvetica, sans-serif;
      width: fit-content;
      align-items: center;
      justify-content: center;
      align-content: center;
        }

        #measureButton {
  background: white;
      color: black;
      padding: 1px;
      border: 1px solid #ccc;
      border-radius: 10px;
      font-family: Arial, Helvetica, sans-serif;
      width: fit-content;
      align-items: center;
      justify-content: center;
      align-content: center;
        }


.smallCheckBox {
            width: 10px;
            height: 10px;
            
        }

.drop {
    position: absolute;
    bottom: 100%;
    width: 1px;
    height: 100px;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.5));
    animation: fall linear infinite;
}

#confirmationModal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
}

#confirmationModal2 {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
}




@keyframes fall {
      to {
        transform: translateY(100vh);
      }
    }
  
